:root {
    --background-light: #fff;
    --background-dark: #222;
    --logo-color: #FED136;
    --text-color: #777;
    --hover-color: #f6b51d;
}

body {
    width: 1000px;
    padding: 0 29px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}