:root {
    --background-light: #fff;
    --background-dark: #222;
    --logo-color: #FED136;
    --text-color: #777;
    --hover-color: #f6b51d;
}

body {
    width: 1000px;
    padding: 0 29px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    box-sizing: border-box;
    margin: 0 auto;
}

.header {
    margin-bottom: 92px;
    margin-top: 44px;
}

.header-item-link {
    color: var(--logo-color);
    font-weight: 700;
    line-height: 41px;
}

.form {
    background-color: var(--background-dark);
    padding-top: 92px;
    padding-bottom: 114px;
}

.contact-title {
    color: var(--background-light);
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -1px;
    font-size: 40px;
    text-align: center;
    padding-bottom: 114px;
}

.form-btn {
    background-color: var(--logo-color);
    padding: 20px 33px;
    border-radius: 5px;
    color: var(--background-light);
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}

.logo {
    color: var(--logo-color);
    font-family: 'Bilbo Swash Caps';
    font-size: 36px;
    font-weight: 700;
    line-height: 41px;
    letter-spacing: 1.3px;
    text-align: center;
}

.info-title {
    color: var(--background-dark);
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 88px;
}

.info-item {
    width: 274px;
    text-align: center;
}

.info-list {
    margin-bottom: 119px;
}

.list-title {
    font-size: 18px;
    width: 700;
    color: var(--background-dark);
    line-height: 75px;
}

.list-text {
    font-family: 'RobotoSlab';
    color: var(--text-color);
    letter-spacing: -0.35px;
    font-weight: 400;
}
